@page "/cfg"
@inject IConfiguration config


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>
    Default connection : @defaultConnection
</p>
<p>
    API Key = @apikey
</p>
<p>
    Sup URL = @supural
</p>
<p>
    Sup Key = @supkey
</p>

@code
{
    private string defaultConnection = "";
    private string apikey = "";
    private string supural = "";
    private string supkey = "";
    protected override void OnInitialized()
    {
        defaultConnection = config.GetConnectionString("DefaultConnection") ?? "unknown";
        apikey = config.GetValue<string>("OpenAI:ApiKey") ?? "unknown";
        supural = config.GetValue<string>("Supabase:Url") ?? "unknown";
        supkey = config.GetValue<string>("Supabase:ServiceRoleKey") ?? "unknown";
    }
}